
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

#main {
  background: #ddd;
}

canvas {
  background: white;
  background-image: url('transparent.jpg');
  max-width: 100%;
}